<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <style>
        .mySlides {display:none;}

        .container-heading{
            text-align: center;
        }

        .card-box{
            margin-top:30px;
            display: flex;
            align-items: center;
        }

        .cp{
            color:white;
            text-decoration: none;
        }
        .cp:active{
            color:white;
        }
        #show{
          margin:10px;
          display: none;
        }
        .butn{
          display: flex;
          justify-content: center;
        }
        .flexx1,.flexx2{
          display:flex;
        }
      
    </style>

    <title>Tour Guidee</title>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Tour Guide</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="#">Book</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>

      <div class="container-heading">
          <h1> Please select your location.. Happy Scouting!</h1>
      </div>


    <div class="container">
        <div class="w3-content w3-display-container">
            <img class="mySlides" src="../images/img6.jpg" style="width:100%">
            <img class="mySlides" src="../images/img2.jpg" style="width:100%">
            <img class="mySlides" src="../images/img3.jpg" style="width:100%">
            <img class="mySlides" src="../images/img4.jpg" style="width:100%">
          
          
            <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
          </div>
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);
        
        function plusDivs(n) {
          showDivs(slideIndex += n);
        }
        
        function showDivs(n) {
          var i;
          var x = document.getElementsByClassName("mySlides");
          if (n > x.length) {slideIndex = 1}
          if (n < 1) {slideIndex = x.length}
          for (i = 0; i < x.length; i++) {
            x[i].style.display = "none";  
          }
          x[slideIndex-1].style.display = "block";  
        }
        </script>
        <br>
        <br>
        <div class="butn"><button class="btn" onClick="showDiv();">Select</button></div>
        
        <div id="show">
          <div class="container-fluid">
            <h3> We've got everything covered for you!</h3>
            <h5> Here are our top picks:</h5>
            <ul>
              <li> Hotel Paris Lafayette </li>
              <li> Hotel Brittannique </li>
              <li> Hotel Park Lane Paris </li>
              <li> Hotel De Lille Louvre </li>
            </ul>
            <hr>
            <div class="flexx1">
              <h3> Here's the average cost for each hotel!</h3>
              <img src="../images/avg_cost.jpeg" />
              <h3> We've also done an analysis of time that it would take you to reach your destination!</h3>
              <img src="../images/avg_time.jpeg" />
            </div>

            <div class="flexx2">
              <h3> Are you wondering how long it'll take from your place?</h3>
              <img src="../images/travel_time.jpeg"/>
              <h3> And here's a summary of what that would cost you!</h3>
              <img src="../images/avg_trans.jpeg" />
            </div>
            
          </div>
        </div>


        <script>
          function showDiv(){
            document.getElementById("show").style.display="inline";
           }
        </script>
<div class="container card-box">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/hotel1.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><h3> Hotel Paris Lafayette </h3>A luxury getaway with spa facilities available!</p>
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal">Book</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/hotel2 (2).jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"><h3> Hotel Brittannique </h3>Feel free to have the time of your lives!</p>
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal1">Book</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/hotel3.jpg"alt="Card image cap">
    <div class="card-body">
      <p class="card-text"> <h3> Hotel Park Lane Paris </h3>A view and a comfy bed! What else do you need?</p>
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal2">Book</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="../images/hotel4.jpg" alt="Card image cap">
    <div class="card-body">
      <p class="card-text"> <h3> Hotel De Lille Louvre</h3>Free breakfasts in the morning to get you going!</p>
      <a href="#" class="btn btn-dark" data-toggle="modal" data-target="#exampleModal3">Book</a>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Price : &#8377;19101 for 3 days!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"><a href="/payment" class="cp">Confirm and Pay</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Price : &#8377;18789 for 3 days!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"> <a href="/payment" class="cp">Confirm and Pay</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Price : &#8377;23208 for 3 days!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"> <a href="/payment" class="cp">Confirm and Pay</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Payment Details</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Price : &#8377;11535 for 3 days!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary"> <a href="/payment" class="cp">Confirm and Pay</a></button>
        </div>
      </div>
    </div>
  </div>
 

    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>